body {
    background-color: rgb(163, 211, 163);
    font-family: Arial;
    font-size: 20px;
}

h1 {
    font-size: 40px;
}

.first {
    color: rgb(168, 2, 2);
}

#your-name {
    background-color: rgba(77, 134, 77, 0.377);
    border: 5px solid #444;
}
